.filterWrapper {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
    position: relative;
}

.title {
    font-size: 1.5rem;
}

.title::after {
    content: '?';
    background-color: #9ae2ff;
    font-size: 0.7rem;
    padding: 0.2rem;
    margin-left: 0.3rem;
    border-radius: 1rem;
    color: #fff;
    position: absolute;
}

.inputsWrapper {
    display: flex;
    flex-wrap: wrap;
}
.btnWrapper {
    margin-top: 10px;
}

.simpleFilterWrapper {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.simpleFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simpleReset {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 0px 10px;
    margin: 0 10px;
    border-radius: 3px;
}

.simpleFilterPlusMinus {
    cursor: pointer;
    padding: 3px 10px 0px 10px;
    border-radius: 1rem;
    background-color: #bbb;
    color: #fff;
    text-align: center;
}

.simpleFilterMiddle {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 8px 5px 10px;
    background-color: rgb(2, 169, 230);
    color: #fff;
    border-radius: 1.5rem;
}

.simpleExpand {
    cursor: pointer;
    line-height: 10px;
    padding: 0 3rem;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    background-color: #eee;
    border-radius: 3px;
}

@media screen and (max-width: 1000px){
    .btnWrapper {
        margin-top: 10px;
    }
}

