.filterWrapper {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

.title {
    font-size: 1.5rem;
}

.title::after {
    content: '?';
    background-color: #9ae2ff;
    font-size: 0.7rem;
    padding: 0.2rem;
    margin-left: 0.3rem;
    border-radius: 1rem;
    color: #fff;
    position: absolute;
}

.inputsWrapper {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px){
    .btnWrapper {
        margin-top: 10px;
    }
}
