.pin {
    cursor: pointer;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #00cae9;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg) translate(50%,-100%);
    transition: all 0.5s ease;
}

.pin::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #00cae9;
}
