.infoCardWrapper {

    background-color: #fff;
    margin-top: 2rem;
    border-radius: 0.7rem;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1000px) {
    .infoCardWrapper {
        height: 20vh;
        overflow: scroll;
        margin-top: 0.75rem;
    }
}

.dayWrapper {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dayTitle {

    color: #3380a2;
    font-size: 1.25rem;
}

.timeStyle {
    font-size: 1rem;
    font-weight: bold;
    color: #3380a2;
}

.monthWrapper {
    font-size: 1.5rem;
    color: #3380a2;
    padding: 0.5rem 1rem;
}

.spliter {
    height: 5px;
    background-color: #efefef;
}

.spotsWrapper {
    color: #3380a2;
    padding: 0.5rem 1rem;
    display: flex;
}

.positionWrapper {
    padding: 0.5rem 1rem;
    color: #61dafb;
}

.descriptionWrapper {
    color: #3380a2;
    padding: 0.5rem 1rem;
}
