.pageWrapper {
    width: 27vw;
    padding: 2rem;
    background-color: #e6f6ff;
}

@media screen and (max-width: 1000px){
    .pageWrapper {
        width: 100vw;
        padding: 10px;
        position: fixed;
        z-index: 1000;
    }
}
