.pageWrapper {
    width: 30vw;
    padding: 2rem;
    background-color: #e6f6ff;
}

@media screen and (max-width: 1000px) {
    .pageWrapper {
        width: auto;
        padding: 1rem;
    }
}

.positionWrapper {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.addPointWrapper {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}
