.monthWrapper {
    font-size: 1.25rem;
    color: #333;
    padding: 0.5rem 1rem 0 1rem;
}

.dayWrapper {
    display: flex;
    padding: 0 1rem;
}

.dayTitle {
    color: #999;
    font-size: 0.85rem;
}

.timeStyle {
    font-size: 0.85rem;
    font-weight: normal;
    color: #999;
}

.spotsStyle {
    padding: 0 1rem;
    font-size: 0.85rem;
    font-weight: normal;
    color: #999;
}

